<!DOCTYPE html>
<html>
<head>
    <title>mxGraph Test</title>
<!--    <script src="../js/jquery-3.4.1.js"></script>-->
    <script src="../js/mxClient.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <style>
        #graphContainer {
            width: 100%;
            height: 400px;
            border: 1px solid black;
        }
    </style>
</head>
<body>

<button onclick="addVertex();">Add</button>
<button onclick="deleteSelectedCells();">Remove</button>
<div id="graphContainer"></div>

<script>
    var graph;
    var keyHandler

    window.onload = function() {
        var container = document.getElementById('graphContainer');
        if (!mxClient.isBrowserSupported()) {
            mxUtils.error('Browser is not supported!', 200, false);
        } else {
            graph = new mxGraph(container);
            graph.setConnectable(true);
            graph.setMultigraph(false);

            keyHandler = new mxKeyHandler(graph);
            keyHandler.bindKey(46, function(evt)
            {
                console.log("delete")
                if (graph.isEnabled())
                {
                    graph.removeCells();
                }
            });


            graph.addListener(mxEvent.DOUBLE_CLICK, function(sender, evt) {
                var cell = evt.getProperty('cell');
                if (cell != null) {
                    var newText = prompt('Editor Name:', cell.value);
                    if (newText != null) {
                        graph.getModel().setValue(cell, newText);
                    }
                }
            });

        }
    };

    function addVertex() {
        var parent = graph.getDefaultParent();
        graph.getModel().beginUpdate();
        try {
            var x = Math.random() * 300;
            var y = Math.random() * 300;
            graph.insertVertex(parent, null, 'Container', x, y, 80, 30);
        } finally {
            graph.getModel().endUpdate();
        }
    }

    function deleteSelectedCells() {
        graph.removeCells(graph.getSelectionCells());
    }
</script>

</body>
</html>
